/* importar*/
.f-comp .carrito .boton .pagos-00 .mp .nombre .nombre-01 .boton02 .c-m0 .mail .whp, .logo, .header nav.linke {
  display: flex;
  justify-content: center;
}

/*operadores*/
.index {
  width: 100%;
  height: 100%;
}

.img00 {
  width: 200%;
  height: 300%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 10%;
}

.video-00 .video-01 .video-02 {
  width: 200%;
  height: 300%;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-left: 10%;
}

/*MEDIAS QUERYS*/
/*anidamiento*/
.index {
  background-image: url(../../src/assets/img/fondoindex.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header .header {
  width: 100%;
}
@media screen and (min-width: 0px) and (max-width: 320px) {
  header .header {
    max-height: 3.5rem;
    width: 100%;
  }
}
header .logo {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
header nav ul li {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 3rem;
  padding-bottom: 8rem;
  list-style: none;
  font-family: nth "Dancing Script", cursive, "Imperial Script", cursive, "Lily Script One", cursive, "Nunito", sans-serif, "Oooh Baby", cursive, "Yuji Hentaigana Akari", cursive, 4;
  font-size: xx-large;
  text-align: center;
  color: #276569;
}
header nav ul li ::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  width: 10rem;
  height: 10rem;
  padding-left: 11rem;
  border-radius: 20%;
  z-index: 0;
  position: absolute;
  transition: all 0.15s;
}
header nav ul li :hover::before {
  box-shadow: -10px 5px 10px #d0a690;
}
header nav ul li ::after {
  box-sizing: border-box;
}

.logo {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

footer {
  background-color: rgba(66, 63, 63, 0.315);
  width: 100%;
}
footer .foo {
  font-family: cursive;
  color: white;
  margin-left: 1rem;
  padding-top: 5rem;
  width: 100%;
}
footer .foo .mapa {
  color: #d0a690;
  padding-top: 5rem;
}
footer .foo .mapa .ig-face {
  position: relative;
}
footer .foo .mapa .ig-face a:last-of-type svg {
  fill: #97487d;
}
footer .foo .mapa .ig-face svg {
  fill: white;
}
footer .linke {
  margin-left: 0rem;
  padding-top: 20rem;
}
@media screen and (min-width: 0px) and (max-width: 320px) {
  footer {
    max-height: 3.5rem;
    width: 100%;
  }
}

.f-comp {
  background-image: url(../../src/assets/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 65vh;
}
.f-comp .carrito {
  display: flex;
}
.f-comp .carrito {
  justify-content: center;
  padding: 2rem;
}
.f-comp .boton {
  display: flex;
}
.f-comp .boton {
  justify-content: center;
  border-radius: 30%;
  padding-top: 1rem;
}
.f-comp .boton-01 {
  background-color: #ab748b;
  font-size: cursive;
  font-size: xx-large;
}
.f-comp .pagos-00 {
  display: inline-block;
}
.f-comp .pagos-00 .mp {
  padding-top: 1rem;
  font-family: "Dancing Script";
  color: white;
  display: flex;
  font-size: xx-large;
  background-color: rgba(66, 63, 63, 0.315);
  backdrop-filter: blur 3px;
}

.nombre {
  display: flex;
}

.nombre {
  padding-top: 1rem;
  justify-content: center;
}

.nombre-01 {
  display: flex;
}

.nombre-01 {
  justify-content: center;
  padding-top: 1rem;
  font-size: medium;
  font-family: "Dancing Script";
  color: #276569;
}

.boton-02 {
  display: flex;
}

.boton-02 {
  justify-content: center;
  border-radius: 30%;
  padding-top: 1rem;
}

.boton-03 {
  background-color: #ab748b;
  font-size: cursive;
  font-size: xx-large;
}

.c-m0 {
  background-image: url(../../src/assets/img/fondo-productos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  padding: 10rem;
}
.c-m0 .con-01 {
  color: #ab748b;
}
.c-m0 .envia-mail .wp {
  font-size: xx-large;
  font-family: "Dancing Script";
  color: #276569;
}
.c-m0 .mail {
  display: flex;
  font-size: xx-large;
  background-color: rgba(66, 63, 63, 0.315);
  backdrop-filter: blur 3px;
  color: #d0a690;
}
.c-m0 .whp {
  display: flex;
  font-size: xx-large;
  background-color: rgba(66, 63, 63, 0.315);
  backdrop-filter: blur 3px;
  color: #d0a690;
}

.aprende-cn {
  margin: auto;
  text-align: center;
  background-color: rgba(66, 63, 63, 0.315);
  color: #276569;
}

.cursos {
  list-style-type: none;
}

.cursos .cursos-00 {
  margin: auto;
  text-align: center;
}

.nivel-curso {
  padding: auto;
  align-items: center;
  background-color: #d0a690;
  color: #276569;
  font-size: xx-large;
  font-family: cursive;
  list-style-type: none;
  margin-left: -2rem;
}

.curso-descrip {
  font-size: xx-large;
  align-items: center;
  font-family: cursive;
  color: #ab748b;
}

.dias-cursos {
  color: #276569;
  font-size: xx-large;
  align-items: center;
  font-family: cursive;
}

.cursos-completo {
  color: #276569;
  font-size: xx-large;
  align-items: center;
  font-family: cursive;
}

.boton {
  display: flex;
}

.boton {
  justify-content: center;
  border-radius: 30%;
  padding-bottom: 1rem;
}

.boton .boton-00 {
  padding-top: 1rem;
  background-color: #ab748b;
  font-size: cursive;
  font-size: xx-large;
}

h2 {
  margin: auto;
  text-align: center;
  background-color: rgba(66, 63, 63, 0.315);
  color: #276569;
}

.FONDO-00 {
  background-image: url(../../src/assets/img/fondo-nosotros.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 80vh;
}

.col p {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur 20px;
  margin-top: 20%;
  color: #276569;
  font-size: large;
  font-family: cursive;
  box-shadow: #5a9397b4;
}

/*# sourceMappingURL=style.css.map */
