.fondo-cursos {
    background-image: url("../../src/assets/img/Fondocursos.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: nth($color, 16);
    background-blend-mode: hard-light;
}

/* comienzo de seccion de cursos*/

.aprende-cn {
    font-family: nth($fuentes, 10);
    margin-top: 5rem;
    text-align: center;
    background-color: rgba(44, 20, 68, 0.28);
    color: nth($color, 9);
    font-size: 60px;
    text-shadow: 7px 6px 7px #060606a1;
    padding: 0.4em 0;
    -webkit-font-smoothing: antialiased;
}

.cursos {
    list-style-type: none;

}

.cursos .cursos-00 {
    margin: auto;
    text-align: center;

}

.nivel-curso {
    padding: auto;
    align-items: center;
    background-color: nth($color, 18);
    color: nth($color, 9);
    font-size: xx-large;
    font-family: nth($fuentes, 10);
    list-style-type: none;
    margin-left: -2rem;
}


.curso-descrip {
    font-family:nth($fuentes, 10);
    margin: auto;
    text-align: center;
    background-color: nth($color, 18);
    color: nth($color, 9);
    font-size: 20px;
    margin-left: -2rem;
}

.dias-cursos {
    font-family: nth($fuentes, 10);
    margin: auto;
    text-align: center;
    background-color: nth($color, 17);
    color: nth($color, 9);
    font-size: 30px;
    margin-left: -2rem;
}

.cursos-completo {
    font-family: nth($fuentes, 10);
    margin: auto;
    text-align: center;
    background-color: nth($color, 18);
    color: nth($color, 9);
    font-size: 30px;
    margin-left: -2rem;
    ;

}

.bot-color {
    background-color: nth($color, 15);
    color: white;
    font-family: nth($fuentes, 1);
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}