.Nosotros{
    background-image: url("../../src/assets/img/tapiz4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}



h2 {
    font-family: nth($fuentes,4);
    margin: auto;
    text-align: center;
    background-color: nth($color,10);
    color:nth($color,9);
    font-size: 100px;
}

.FONDO-00{
    background-color: nth($color,10);
}


.col p{

backdrop-filter: blur (20px);
margin-top: 20%;

color: nth($color,9);
font-size:xx-large;
font-family: nth($fuentes,4);
box-shadow: nth($color,7);
}




