/*body fondo*/
.fondo-productos {
    background-image: url("../../src/assets/img/otoñoDM.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #552e55ba;
    background-blend-mode: screen;
}
/*inicio de seccion productos*/
.Productos-02 {
    font-family: nth($fuentes, 10);
    margin-top: 5rem;
    text-align: center;
    background-color: rgba(44, 20, 68, 0.28);
    color: nth($color, 9);
    font-size: 60px;
    text-shadow: 7px 6px 7px #060606a1;
    padding: 0.4em 0;
    -webkit-font-smoothing: antialiased;
}
.grilla {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(2fr, 1fr));
    .card {
        padding: .25rem;
        background-color: nth($color, 4);
        border: 16px solid nth($color, 4);
        max-width: 100%;
        height: auto;
        color: nth($color, 2);
    }
    .h-card {
        height: auto;
        .card-title {
            font-family: nth($fuentes,10);
            color: nth($color, 14);
            font-size: 40px;
        }
        .imagenes-produc {
            max-width: 100%;
            max-height: 100%;
        }
        .imagenes {
            width: 100%;
            height: 30em;
            background-size: cover;
            background-position: center;
        }
        .imagenes-produc00 {
            background-image: url(../src/assets/img/espejo1.webp);
        }
        .imagenes-produc01 {
            background-image: url(../src/assets/img/espejo2.webp);
            background-repeat: no-repeat;
        }
        .imagenes-produc02 {
            background-image: url(../src/assets/img/espejo3.webp);
        }
        .imagenes-produc03 {
            background-image: url(../src/assets/img/tapiz.webp);
        }
        .imagenes-produc04 {
            background-image: url(../src/assets/img/tapiz2.webp);
        }
        .imagenes-produc05 {
            background-image: url(../src/assets/img/tapiz3.webp);
            background-position-x: 2px;
        }
        .imagenes-produc06 {
            background-image: url(../src/assets/img/tapiz4.webp);
        }
        .imagenes-produc07 {
            background-image: url(../src/assets/img/tapiz5.webp);
            background-repeat: no-repeat;
        }
        .imagenes-produc08 {
            background-image: url(../src/assets/img/tapiz6.webp);
            background-position-y: -5.125em;
        }
        .imagenes-produc09 {
            background-image: url(../src/assets/img/tapiz7.webp);
            background-position-y: -19.375;
            background-repeat: no-repeat;
        }
        .imagenes-produc10 {
            background-image: url(../src/assets/img/tapiz8.webp);
        }
        .imagenes-produc11 {
            background-image: url(../src/assets/img/tapiz9.webp);
            background-position-y: -7em;
            background-repeat: no-repeat;
        }
        .imagenes-produc12 {
            background-image: url(../src/assets/img/tapices.webp);
        }
        .imagenes-produc14 {
            background-image: url(../src/assets/img/almohadonestapizalfombra.webp);
        }
        .imagenes-produc15 {
            background-image: url(../src/assets/img/alfombra.webp)
        }
        .imagenes-produc16 {
            background-image: url(../src/assets/img/alfombraytapiz.webp);
        }
        .imagenes-produc17 {
            background-image: url(../src/assets/img/alfombrapufftacho.webp);
        }
        .imagenes-produc18 {
            background-image: url(../src/assets/img/puffalfombra.webp);
        }
        .imagenes-produc19 {
            background-image: url(../src/assets/img/almohadon.webp);
        }
        .imagenes-produc20 {
            background-image: url(../src/assets/img/almohadon2.webp);
        }
        .imagenes-produc21 {
            background-image: url(../src/assets/img/floreros.webp);
        }
        .imagenes-produc22 {
            background-image: url(../src/assets/img/cortina.webp);
        }
        .imagenes-produc23 {
            background-image: url(../src/assets/img/hamaca.webp);
        }
        .imagenes-produc24 {
            background-image: url(../src/assets/img/lampara.webp);
        }
        .imagenes-produc25 {
            background-image: url(../src/assets/img/cartera.webp);
        }
        .imagenes-produc26 {
            background-image: url(../src/assets/img/llaveros.webp);
        }
        .imagenes-produc27 {
            background-image: url(../src/assets/img/portamacetas.webp);
        }
        .imagenes-produc28 {
            background-image: url(../src/assets/img/portalapiceras.webp);
        }
        .card-text {
            font-family: nth($fuentes, 10) !important;
            color: nth($color, 14) !important;
            font-size: 30px !important;
            margin-top: 5% !important;
        }

        .bot-color {
            background-color: nth($color, 15);
            color: white;
            font-family: nth($fuentes, 1);
            display: flex;
            height: 2rem;
            width: 7rem;
            align-items: center;
            justify-content: center;
        }
    }
}