/*anidamiento*/
@import "../base/listas";

header{
    background-color: #ab748b;
    .logo{
        display: flex;  
    }
    .logo{
        background-color: #ab748b;
        justify-content: center;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    nav{
        background-color: #ab748b;
        padding: 20px;
        ul{
            li{
                list-style-type: circle;
            }
        }
    }
/*media query header*/
@media screen and (min-width:980px) {
body{
    background-color:#ab748b;}
} 

@media only screen and (max-width:768px){
        body{
            background-color: #ab748b;
        }

}

}

footer{
    h1{
        color: #ab748b;
        
    }
}