/*listas*/




$color:
rgba(80, 78, 78, 0.329)
#ab748b
rgba(66, 63, 63, 0.315)
#d0a690
#276569
;


$fuentes:
'Dancing Script', cursive
'Imperial Script', cursive
'Lily Script One', cursive
'Nunito', sans-serif
'Oooh Baby', cursive
'Yuji Hentaigana Akari', cursive
;


    /* fuentes de google */

    /* fuentes
        font-family: 'Dancing Script', cursive;
        font-family: 'Imperial Script', cursive;
        font-family: 'Lily Script One', cursive;
        font-family: 'Nunito', sans-serif;
        font-family: 'Oooh Baby', cursive;
        font-family: 'Yuji Hentaigana Akari', cursive; */