@import "../../scss/base/mixed";
@import "../../scss/base/maps";
/*operadores*/

$ancho: 6rem;
$alto: 10rem;
$separata:1%;
$marg:5%;




.index {
    width: $ancho;
    height: $alto;

}

.img-00{
  max-width: 50px;
  max-height: 50px;

}

.video-00 .video-01 .video-02 {
    width: $ancho *2;
    height: $alto *3;
    padding-top: $separata *4;
    padding-bottom: $separata *4;
    margin-left: $marg *2;
}