/*operadores*/

$ancho:100%;
$alto:100%;
$separata:1%;
$marg:5%;




    .img00{
    width: $ancho *2;
    height: $alto *3;
    padding-top: $separata *1;
    padding-bottom: $separata *1;
    margin-left: $marg *2;
    }

    .video-00 .video-01 .video-02{
        width: $ancho *2;
        height: $alto *3;
        padding-top: $separata *4;
        padding-bottom: $separata *4;
        margin-left: $marg *2;
    }
    




